.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #002340;
}

h1 {
  margin: 30px;
  font-family: 'Courier New', Courier, monospace, cursive;
    text-shadow: 5px 0 #002340;
  font-size: 5rem;
  color: #ba9d5a;
}

p {
  font-size: 1.5rem;
  color: #f5f9ff;
  font-family: 'Courier New', Courier, monospace, cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
